@import url(config_global.css);

.main {
    width: 100%;
    height: 100vh;
    display: flex;
}

.section {
    width: 50%;
    height: 100%;
    padding: 25px;    

    display: grid;
    place-items: center;
}

.section-primary {
    background: var(--white-secondary);
}

.img {
    width: min(100%, 400px);
}

.section-content {
    width: min(100%, 350px);
}

.section-secondary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;
}

/* Botões, Entradas */

.button,
.input {
    height: 50px;
    width: 100%;
}

.button {
    color: var(--white-primary);
    cursor: pointer;

    font-weight: bold;
    font-size: 16px;
    
    border: none;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.button-primary {
    background: var(--color-secondary);
}

.button-secondary {
    margin-top: 15px;
    background: var(--color-primary);
}

.button span {
    position: relative;
    top: 2px;
}

.button-icon {
    height: 20px;
    margin-right: 10px;
}

.input {
    font-size: 14px;
    padding: 0 15px;

    border: 1px solid var(--color-border);
    border-radius: 5px;
}

.input:focus {
    outline-color: var(--color-secondary);
}

.input::selection {
    background: var(--color-border);
}

.input-name {
    font-size: 16px;
    margin: 10px 0;
}

/* Checkbox */

.label-checkbox * {
    display: inline-block;
}

.checkbox {
    margin-right: 10px;
}

/* Texto */

.before-title,
.title {
    font-family: var(--font-secondary);
}

.before-title {
    font-size: 16px;
    margin-bottom: 8px;
}

.title {
    font-size: 26px;
    margin-bottom: 35px;
}

@media (max-width: 725px) {
    .section-primary {
        display: none;
    }

    .section {
        width: 100%;
    }
}