@import url(config_global.css);

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.section {
    width: 50%;
    height: 100%;
    padding: 25px;

    display: grid;
    place-items: center;
}

.section-primary {
    background: var(--white-secondary);
}

.section-content {
    width: min(100%, 350px);
}

.content-registration {
    width: min(100%, 450px);
}

.section-secondary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;
}

.flex {
    display: flex;
    gap: 20px;
}

.img {
    width: min(100%, 400px);
}

.img-svg {
    margin-right: 7px;
    height: 15px;
}

.hidden {
    display: none;
}

/* Botões, Entradas */

.button,
.input {
    height: 5.0rem;
    width: 100%;
}

.button {
    color: var(--white-primary);
    cursor: pointer;

    font-weight: bold;
    font-size: 1.6rem;
    
    border: none;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.button-primary {
    background: var(--color-secondary);
}

.button-primary:hover {
    filter: brightness(1.08);
}

.button-secondary {
    margin-top: 15px;
    background: var(--color-primary);
}

.button-secondary:hover {
    filter: brightness(1.2) opacity(0.97);
}

.button-icon {
    height: 20px;
    margin-right: 10px;
}

.input {
    font-size: 1.4rem;
    padding: 0 15px;

    border: 1px solid var(--color-border);
    border-radius: 5px;
}

.input:focus {
    outline-color: var(--color-secondary);
}

.input::selection {
    background: var(--color-border);
    color: var(--color-link)
}

.input-area {
    resize: none;
    padding: 5px 15px;
    height: 7.5rem;
    margin-bottom: 25px;
}

.input-name {
    font-size: 1.6rem;
    margin: 10px 0;
}

/* Checkbox */

.label-checkbox,
.checkbox {
    cursor: pointer;
}

.checkbox {
    --_size: 18px;
    
    background: var(--white-secondary);
    vertical-align: middle;
    appearance: none;
    
    height: var(--_size);
    width: var(--_size);

    border-radius: 50px;
    border: 1px solid var(--color-border);
    margin-right: 10px;
}

.checkbox:checked {
    background: var(--white-primary);
    border: 5px solid var(--color-secondary);
}

/* Texto */

.label-checkbox,
.before-title,
.next-page,
.link {
    font-size: 1.6rem;
}

.before-title,
.title {
    font-family: var(--font-secondary);
}

.before-title {
    margin-bottom: 8px;
}

.title {
    font-size: 2.6rem;
    margin-bottom: 35px;
}

.link {
    color: var(--color-link);
    text-decoration: none;
    cursor: pointer;
}

.link:hover {
    color: var(--color-secondary);
}

/* Animação de troca entre section Login e Cadastro */

@keyframes changeSection {
    0% {
        opacity: 0;
        transform: translateX(180px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Responsividade */

@media (min-width: 1920px) {
    html {
        font-size: 13px;
    }

    .section-content {
        width: min(100%, 450px);
    }
}

@media (max-width: 725px) {
    .section-primary {
        display: none;
    }

    .section {
        width: 100%;
    }

    .button-secondary {
        margin-bottom: 15px;
    }
}

@media (max-width: 350px) {
    html {
        font-size: 8px;
    }
}

@media (min-height: 963px) {
    .next-page {
        margin-top: 50px;
    }
}